<div *ngIf="wardrobe" class="dashboard">
    <div class="top">
        <div class="left">
            <h1>Hello user !</h1>

            <div class="customHelloMessage">
                Today's temperature in <b>{{weather.name}}</b> is {{weather.main.feels_like}}°C
            </div>

            <div class="clothersList">
                <div *ngFor="let cloth of clothers" class="cloth" id="{{cloth.id}}">
                    <div class="del" (click)="deleteCloth(cloth.id)">
                        -
                    </div>
                    <div class="imageLoc">
                        <img class="image" alt="Default cloth" src="/assets/cloth.png" [ngStyle]="{'background-color':cloth.color}">
                    </div>

                    <div class="specs">
                        <div class="name">Name: {{cloth.name}}</div>
                        <div class="color">Color: {{cloth.color}}</div>
                        <div class="quantity">Quantity: {{cloth.quantity}}</div>
                        <div class="fabric">Fabric: {{cloth.fabric}}</div>
                    </div>
                </div>
            </div>

            <div class="removeWardrobe" (click)="removeWardrobe(wardrobe[0].id)">- Remove Wardrobe n°{{wardrobe[0].id}}</div>  

        </div>

        <div class="right">
            <div class="new">
                <button class="newButton" routerLink="/new" routerLinkActive="active">New</button>
            </div>
        </div>
    </div>

    <div class="bottom">
        <button class="getMyCloth" (click)="getMyCloth()">Get my cloth for today!</button>
    </div>
</div>


<div *ngIf="wardrobe === null" class="index">
    <button class="createWardrobe" (click)="createWardrobe()">+<br>New wardrobe</button>
</div>

<div *ngIf="wardrobe === undefined">
    Loading...
</div>