/* ----- General ----- */
*{
    font-family: Arial, Helvetica, sans-serif;
}

body, h1{
    margin: 0;
    padding: 0;
}

/* ----- Header ----- */
.header{
    color: white;
    background-color: rgb(109, 126, 148);
    display: flex;
    justify-content: space-between;
    padding: .5rem 2rem .5rem 2rem;
}

.header .title{
    font-size: 15px;
    cursor: pointer;
}

.header .searchBar{
    margin: auto;
    border: none;
    display: flex;
}

.header .searchBar .bar{
    font-size: 22px;
}

.header .searchBar button{
    font-size: 22px;
    background: #d7d7d7;
    border: none;
    cursor: pointer;
}

.header .location{
    padding-top: .5rem;
    float: right;
    cursor: pointer;
}

/* ----- Index (create wardrobe) ----- */
.index{
    margin: auto;
    padding: 10rem 0 0 0;
    width: 20%;
}

.index .createWardrobe{
    width: 100%;
    font-size: 40px;
}


/* ----- Loaction ----- */
.location{
    padding: .5rem 1rem .5rem 1rem;
    text-align: center;
}

.location .cityList{
    margin: 2rem 0;
    display: inline-block;
    padding: 1rem;
    border-style: solid;
}

.location .cityList .city{
    float: left;
    color: rgb(0, 102, 255);
    font-size: 20px;
    padding: 1rem;
    cursor: pointer;
}

/* ----- Dashboard ----- */
.new{
}

.new .columns{
    display: flex;
}

.new .columns .col{
    text-align: center;
    flex:1;
    margin: 1rem;
    border-style: solid;
    border-color: gray;
}

.new .form{
    margin: 1rem;
    text-align: left;
}

.new .form .item{
    margin: 0.5rem 0;
}

.new .send{
    text-align: right;
}

.new .send .button{
    
}

.new .list{
    margin: 1rem;
    text-align: left;
}

.new .list .category{
    margin: 0.5rem 0;
    padding: 1rem;
    background-color: rgb(202, 200, 200);
    display: flex;
    position: relative;
}

.new .list .category:hover .del{
    display: block;
    background-color: rgba(209, 0, 0, 0.74);
    position: absolute;
    top : -10px;
    left: 320px;
    border-radius: 10px;
    width: 30px;
    color: white;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}

.new .list .category .del{
    display: none;
}

.new .list .category .name{

}
.new .list .category .specs{
    font-size: 12px;
    font-style: italic;
    margin: 3px 0 0 3px;
}

/* ----- Dashboard ----- */
.top{
    padding: .5rem 1rem .5rem 1rem;
    display: flex;
}

.top .left{   
    flex: 8;
    border-style: solid;
    border-color: gray;
    margin-right: 1rem;
    padding: 10px;
}

.top .left .clothersList{
    /* width: 100px; */
    display: inline-block;
    margin: 1rem 0;
}

.top .left .clothersList .cloth{
    margin: .2rem;
    width: 130px;
    float: left;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    position: relative;
}

.top .cloth:hover .del{
    display: block;
    background-color: rgba(209, 0, 0, 0.74);
    position: absolute;
    top: -10px;
    left: 110px;
    border-radius: 10px;
    width: 30px;
    color: white;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}

.top .cloth .del{
    display: none;
}

.top .cloth .imageLoc{
    padding: .5rem;
}

.top .cloth .image{
    width: 100%;
}

.top .cloth .specs{
    font-size:12px;
    padding: 1rem .5rem;
    background-color: rgb(223, 223, 223);
}

.top .right{
    flex: 1;
}

.top .right .new{
    margin: auto;
}

.top .right .new .newButton{
    font-size: 25px;
    width: 100%;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
}

.bottom{
    text-align: center;
}

.bottom .getMyCloth{
    font-size: 25px;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
}

.removeWardrobe{
    background-color: rgb(56, 2, 2);
    padding: .4em;
    color: red;
    width: 12rem;
    float: right;
    border-radius: 10px;
    cursor: pointer;
}
