<div class="new">
    <div class="columns">
        <div class="col">
            <h1>Create new cloth</h1>

            <form class="form" (ngSubmit)="onClothSubmit()" #clothForm=ngForm>
                <div class="item name">
                    <label for="name">Name : </label>
                    <input [(ngModel)]="newCloth.name" type="text" name="clothname" 
                        id="clothname" required #clothname="ngModel">
                    <div [hidden]="clothname.valid || clothname.pristine"
                        class="">Name is require</div>
                </div>

                <div class="item category">
                    <label for="category">Category : </label>
                    <select id="category"
                            multiple
                            required
                            [(ngModel)]="newCloth.categories" name="category">
                        <option *ngFor="let i of categories" [value]=i.id>{{i.name}}</option>
                    </select>
                </div>

                <div class="item color">
                    <label for="color">Color : </label>
                    <input [(ngModel)]="newCloth.color" type="text" name="clothcolor" 
                        id="clothcolor" required #clothcolor="ngModel">
                    <div [hidden]="clothcolor.valid || clothcolor.pristine"
                        class="">Color is require</div>
                </div>

                <div class="item fabric">
                    <label for="fabric">Fabric : </label>
                    <input [(ngModel)]="newCloth.fabric" type="text" name="clothfabric" 
                        id="clothfabric" required #clothfabric="ngModel">
                    <div [hidden]="clothfabric.valid || clothfabric.pristine"
                        class="">Fabric is require</div>
                </div>

                <div class="item quantity">
                    <label for="quantity">Quantity : </label>
                    <input [(ngModel)]="newCloth.quantity" type="number" name="clothquantity" 
                        id="clothquantity" required #clothquantity="ngModel">
                    <div [hidden]="clothquantity.valid || clothquantity.pristine"
                        class="">Quantity is require</div>
                </div>

                <div class="send">
                    <input type="submit" value="Submit"
                        [disabled]="!clothForm.form.valid"/>
                </div>
            </form>
        </div>

        <div class="col">
            <h1>Create new category</h1>

            <form class="form" (ngSubmit)="onCategorySubmit()" #categoryForm=ngForm>

                <div class="item name">
                    <label for="catname">Name : </label>
                    <input [(ngModel)]="newCategory.name" name="catname" type="text" 
                        id="catname" required #name="ngModel">

                    <div [hidden]="name.valid || name.pristine"
                        class="alert alert-danger">Name is require</div>
                </div>

                <div class="item temperature">
                    <label for="temperature">Temperature : </label>
                    
                    <select id="temperature"
                            required
                            [(ngModel)]="newCategory.temperature" name="temperature">
                        <option *ngFor="let i of temperatures; index as j" [value]=j>{{i}}</option>
                    </select>
                </div>

                <div class="item weather">
                    <label for="weather">Weather : </label>
                    <select id="weather"
                            required
                            [(ngModel)]="newCategory.weather" name="weather">
                        <option *ngFor="let i of weathers" [value]="i">{{i}}</option>
                    </select>
                </div>

                <div class="item rain">
                    <label for="rain">Rain/Snow level : </label>
                    <select id="rain"
                            required
                            [(ngModel)]="newCategory.rainLevel" name="rain">
                        <option *ngFor="let i of rainLevels" [value]="i">{{i}}</option>
                    </select>
                </div>

                <div class="item send">
                    <input type="submit" value="Submit"
                        [disabled]="!categoryForm.form.valid"/>
                </div>
            </form>
        
        </div>

        <div class="col">
            <h1>Category list</h1>

            <div class="list">
                    <div *ngFor="let category of categories" class="category">
                        <div class="del" (click)="deleteCategory(category.id)">-</div>
                        <div class="name" (click)="selectCategory(category.id)">{{category.id}}- {{category.name}} : </div>
                        <div class="specs"> {{category.temperature}}°C - {{category.weather}} - {{category.rainLevel}} </div> 
                    </div>
            </div>
        </div>
    </div>
</div>