/* ----- Header ----- */
.header{
    color: white;
    background-color: rgb(109, 126, 148);
    display: flex;
    justify-content: space-between;
    padding: .5rem 2rem .5rem 2rem;
}

.header .title{
    font-size: 15px;
    cursor: pointer;
}

.header .searchBar{
    margin: auto;
    border: none;
    display: flex;
}

.header .searchBar .bar{
    font-size: 22px;
}

.header .searchBar button{
    font-size: 22px;
    background: #d7d7d7;
    border: none;
    cursor: pointer;
}

.header .location{
    padding-top: .5rem;
    float: right;
    cursor: pointer;
}
