<div class="header">
    <div class="title">
	    <h1 onclick="home()">Smart-Dressing</h1>
    </div>
    <div class="location" onclick="changeLocation()">Change location</div>
</div>
<script>
    function changeLocation(params) {
        window.location.href = "/remove/location/"
    }

    function home(){
        window.location.href = "/"
    }
</script>