<div class="header">
    <div class="title">
	    <h1>Smart-Dressing</h1>
    </div>
    <div class="location" onclick="changeLocation()">Change location</div>
</div>
<script>
    function changeLocation(params) {
        //TODO: Change location
        console.log("change location");
         window.location.href = "/remove/location/"
    }
</script>