<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>

        <title>Smart-Dressing</title>
    </head>
    <body>
        {% include "header.twig" %} 
        <div class="index">
            <button class="createWardrobe" onclick="create()">+<br>New wardrobe</button>
        </div>
        <script>
            function create() {
                window.location.href = '/create/wardrobe/'
            }
        </script>
    </body>
</html>